extends  ./jade/base
block meta
	-var title = "KOISHI"
	-var description = ""
	-var keyword = ""
	-var og_name = "";
	-var og_title = "";
	-var og_description = "";
	-var og_url = "";
	-var og_img = "";
	-var dir_root = "./";
	-var css = "./css/index.css";
block contents
	.mv
		.title
			img.logo(src="./images/mv_chara.png")
			img.text(src="./images/mv_title.png")
	.profile
		.title
			img.text(src="./images/profile_title.png",alt="プロフィール PROFILE")
		.activity
			.midashi
				p.
					テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト
			.activitycontent
				p.
					活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容活動内容
		.autorimage
			img.autor(src="./images/autorimage.png")
	.character
		.title
			img.text(src="./images/character_title.png",alt="キャラクター CHARACTER")
		.charas
			.america
				.box
					.left
						img(src="./images/character_charas.png")

					.right
						.textbox
							p.
								テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
						.groupname
							img(src="./images/character_america_title.png")
			.japan
				.box
					.left
						img(src="./images/character_charas.png")

					.right
						.textbox
							p.
								テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
						.groupname
							img(src="./images/character_japan_title.png")
			.secret
				.box
					//.left
					//.right
						.textbox
						.groupname
	.stamp
		.title
			img.text(src="./images/line_title.png")
		.stamps
			img(src="./images/line_stamps.png")
		.linestore
				img.storebutton(src="./images/line_button.png")
				img.or(src="./images/line_or.png")
				img.qr(src="./images/line_qr.png")
	.contact
		.title
			img.text(src="./images/contact_title.png")
		.description
			img.text(src="./images/contact_text.png")
		.mail
			img.text(src="./images/contact_mail.png")